/** index.css */
@import "./reset.css";

:root {
  /* colors */
  --ns-color-white: #ffffff;
  --ns-color-black: #000000;
  --colors: (
    primary: #0052d9,
    success: #008858,
    warning: #e6a23c,
    danger: #d54941,
    info: #dcdde1
  );
  --ns-bg-color: #ffffff;
  --ns-bg-color-page: #f2f3f5;
  --ns-bg-color-overlay: #ffffff;
  --ns-text-color-primary: #303133;
  --ns-text-color-regular: #606266;
  --ns-text-color-secondary: #909399;
  --ns-text-color-placeholder: #a8abb2;
  --ns-text-color-disabled: #c0c4cc;
  --ns-border-color: #dcdfe6;
  --ns-border-color-light: #e4e7ed;
  --ns-border-color-lighter: #ebeef5;
  --ns-border-color-extra-light: #f2f6fc;
  --ns-border-color-dark: #d4d7de;
  --ns-border-color-darker: #cdd0d6;
  --ns-fill-color: #f0f2f5;
  --ns-fill-color-light: #f5f7fa;
  --ns-fill-color-lighter: #fafafa;
  --ns-fill-color-extra-light: #fafcff;
  --ns-fill-color-dark: #ebedf0;
  --ns-fill-color-darker: #e6e8eb;
  --ns-fill-color-blank: #ffffff;

  @each $val, $color in var(--colors) {
    --ns-color-$(val): $(color);
    @for $i from 3 to 9 {
      /* eslint-disable */
      --ns-color-$(val)-light-$(i): mix(#fff, $(color), $(i)0%);
      /* eslint-enable */
    }
    --ns-color-$(val)-dark-2: mix(#000, $(color), 0.2);
  }

  /* border */
  --ns-border-width: 1px;
  --ns-border-style: solid;
  --ns-border-color-hover: var(--ns-text-color-disabled);
  --ns-border: var(--ns-border-width) var(--ns-border-style)
    var(--ns-border-color);
  --ns-border-radius-base: 4px;
  --ns-border-radius-small: 2px;
  --ns-border-radius-round: 20px;
  --ns-border-radius-circle: 100%;

  /*font*/
  --ns-font-size-extra-large: 20px;
  --ns-font-size-large: 18px;
  --ns-font-size-medium: 16px;
  --ns-font-size-base: 14px;
  --ns-font-size-small: 13px;
  --ns-font-size-extra-small: 12px;
  --ns-font-family: "Helvetica Neue", Helvetica, "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", Arial,
    sans-serif;
  --ns-font-weight-primary: 500;

  /*disabled*/
  --ns-disabled-bg-color: var(--ns-fill-color-light);
  --ns-disabled-text-color: var(--ns-text-color-placeholder);
  --ns-disabled-border-color: var(--ns-border-color-light);

  /*animation*/
  --ns-transition-duration: 0.4s;
  --ns-transition-duration-fast: 0.2s;

  /* space*/
  --ns-space-ss: 4px;
  --ns-space-s: 8px;
  --ns-space-m: 12px;
  --ns-space-l: 16px;
  --ns-space-xl: 24px;
}
