.ns-button-group {
  --ns-button-group-border-color: var(--ns-border-color-lighter);
}
.ns-button {
  --ns-button-font-weight: var(--ns-font-weight-primary);
  --ns-button-border-color: var(--ns-border-color);
  --ns-button-bg-color: var(--ns-fill-color-blank);
  --ns-button-text-color: var(--ns-text-color-regular);
  --ns-button-disabled-text-color: var(--ns-disabled-text-color);
  --ns-button-disabled-bg-color: var(--ns-fill-color-blank);
  --ns-button-disabled-border-color: var(--ns-border-color-light);
  --ns-button-hover-text-color: var(--ns-color-primary);
  --ns-button-hover-bg-color: var(--ns-color-primary-light-9);
  /* --ns-button-hover-bg-color: var(--ns-color-primary-light-3); */
  --ns-button-hover-border-color: var(--ns-color-primary-light-7);
  --ns-button-active-text-color: var(--ns-button-hover-text-color);
  --ns-button-active-border-color: var(--ns-color-primary);
  --ns-button-active-bg-color: var(--ns-button-hover-bg-color);
  --ns-button-outline-color: var(--ns-color-primary-light-5);
  --ns-button-active-color: var(--ns-text-color-primary);
}

.ns-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  color: var(--ns-button-text-color);
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: 0.1s;
  font-weight: var(--ns-button-font-weight);
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: var(--ns-button-bg-color);
  /* border: var(--ns-border); */
  border: 1px solid var(--ns-button-border-color);
  /* border-color: var(--ns-button-border-color); */
  padding: 8px 15px;
  font-size: var(--ns-font-size-base);
  border-radius: var(--ns-border-radius-base);
  & + & {
    margin-left: 12px;
  }
  &:hover,
  &:focus {
    color: var(--ns-button-hover-text-color);
    border-color: var(--ns-button-hover-border-color);
    background-color: var(--ns-button-hover-bg-color);
    outline: none;
  }
  &:active {
    color: var(--ns-button-active-text-color);
    border-color: var(--ns-button-active-border-color);
    background-color: var(--ns-button-active-bg-color);
    outline: none;
  }
  /*plain*/
  /* &.is-plain {
    --ns-button-hover-text-color: var(--ns-color-primary);
    --ns-button-hover-bg-color: var(--ns-fill-color-blank);
    --ns-button-hover-border-color: var(--ns-color-primary);
  } */
  /* &.is-plain {
    --ns-button-text-color: var(--ns-text-color-regular);
    --ns-button-bg-color: transparent;
    --ns-button-border-color: var(--ns-border-color);
    --ns-button-hover-text-color: var(--ns-color-primary);
    --ns-button-hover-bg-color: transparent;
    --ns-button-hover-border-color: var(--ns-color-primary);
  } */
  /*round*/
  &.is-round {
    border-radius: var(--ns-border-radius-round);
  }
  /*circle*/
  &.is-circle {
    border-radius: 50%;
    padding: 8px;
  }
  /*disabled*/
  &.is-loading,
  &.is-disabled,
  &.is-disabled:hover,
  &.is-disabled:focus,
  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus {
    color: var(--ns-button-disabled-text-color);
    cursor: not-allowed;
    background-image: none;
    background-color: var(--ns-button-disabled-bg-color);
    border-color: var(--ns-button-disabled-border-color);
  }
  [class*="ns-icon"] {
    width: 1em;
    height: 1em;
  }
}
/* @each $val in primary, success, warning, info, danger {
  .ns-button--$(val) {
    --ns-button-text-color: var(--ns-color-white);
    --ns-button-bg-color: var(--ns-color-$(val));
    --ns-button-border-color: var(--ns-color-$(val));
    --ns-button-outline-color: var(--ns-color-$(val)-light-5);
    --ns-button-active-color: var(--ns-color-$(val)-dark-2);
    --ns-button-hover-text-color: var(--ns-color-white);
    --ns-button-hover-bg-color: var(--ns-color-$(val)-light-3);
    --ns-button-hover-border-color: var(--ns-color-$(val)-light-3);
    --ns-button-active-bg-color: var(--ns-color-$(val)-dark-2);
    --ns-button-active-border-color: var(--ns-color-$(val)-dark-2);
    --ns-button-disabled-text-color: var(--ns-color-white);
    --ns-button-disabled-bg-color: var(--ns-color-$(val)-light-5);
    --ns-button-disabled-border-color: var(--ns-color-$(val)-light-5);
  }
  .ns-button--$(val).is-plain {
    --ns-button-text-color: var(--ns-color-$(val));
    --ns-button-bg-color: var(--ns-color-$(val)-light-9);
    --ns-button-border-color: var(--ns-color-$(val)-light-5);
    --ns-button-hover-text-color: var(--ns-color-white);
    --ns-button-hover-bg-color: var(--ns-color-$(val));
    --ns-button-hover-border-color: var(--ns-color-$(val));
    --ns-button-active-text-color: var(--ns-color-white);

    --ns-button-disabled-text-color: var(--ns-color-$(val)-light-5);
    --ns-button-disabled-bg-color: var(--ns-color-$(val)-light-9);
    --ns-button-disabled-border-color: var(--ns-color-$(val)-light-8);
  }
} */
@each $val in primary, success, warning, info, danger {
  .ns-button--$(val) {
    --ns-button-text-color: var(--ns-color-white);
    --ns-button-bg-color: var(--ns-color-$(val));
    --ns-button-border-color: var(--ns-color-$(val));
    --ns-button-outline-color: var(--ns-color-$(val)-light-5);
    --ns-button-active-color: var(--ns-color-$(val)-dark-2);
    --ns-button-hover-text-color: var(--ns-color-white);
    --ns-button-hover-bg-color: var(--ns-color-$(val)-light-3);
    --ns-button-hover-border-color: var(--ns-color-$(val)-light-3);
    --ns-button-active-bg-color: var(--ns-color-$(val)-dark-2);
    --ns-button-active-border-color: var(--ns-color-$(val)-dark-2);
    --ns-button-disabled-text-color: var(--ns-color-white);
    --ns-button-disabled-bg-color: var(--ns-color-$(val)-light-5);
    --ns-button-disabled-border-color: var(--ns-color-$(val)-light-5);
  }
  .ns-button--outline{
    /* --ns-button-text-color: #1e2025;
    --ns-button-bg-color: rgba(30, 32, 37, .08);
    --ns-button-border-color: transparent;
    --ns-button-hover-border-color: transparent;
    --ns-button-hover-text-color: #1e2025;
   

    --ns-button-active-bg-color: rgba(30, 32, 37, .08);
    --ns-button-active-border-color: transparent;
    --ns-button-active-text-color: #1e2025; */
    --ns-button-hover-bg-color: #F2F3F5;
    --ns-button-active-border-color: var(--ns-color-primary-light-5);
  }
  .ns-button--$(val).ns-button--outline {
    --ns-button-text-color: var(--ns-color-$(val));
    --ns-button-bg-color: transparent;
    --ns-button-border-color: var(--ns-color-$(val)-light-5);
    --ns-button-hover-text-color: var(--ns-color-$(val));
    /* --ns-button-hover-bg-color: var(--ns-color-$(val)); */
    --ns-button-hover-bg-color: var(--ns-color-$(val)-light-9);
    --ns-button-hover-border-color: var(--ns-color-$(val)-light-5);
    --ns-button-active-bg-color: var(--ns-color-$(val)-light-8);
    --ns-button-active-border-color: var(--ns-color-$(val)-light-5);
    --ns-button-active-text-color: var(--ns-color-$(val));

    --ns-button-disabled-text-color: var(--ns-color-$(val)-light-5);
    --ns-button-disabled-bg-color: transparent;
    --ns-button-disabled-border-color: var(--ns-color-$(val)-light-5);
  }
  /* secondary 样式 */
  .ns-button--secondary {
    /* 次要按钮样式 - 白色背景 */
    /* --ns-button-bg-color: var(--ns-color-white); */
    /* --ns-button-border-color: none; */
    /* --ns-button-text-color: var(--ns-color-text-regular); */
    --ns-button-text-color: #1e2025;
    --ns-button-bg-color: rgba(30, 32, 37, .12);
    --ns-button-border-color: transparent;
    --ns-button-hover-border-color: transparent;
    --ns-button-hover-text-color: #1e2025;
    --ns-button-hover-bg-color: rgba(30, 32, 37, .08);

    --ns-button-active-bg-color: rgba(30, 32, 37, .12);
    --ns-button-active-border-color: transparent;
    --ns-button-active-text-color: #1e2025;
  }
  .ns-button--secondary.ns-button--$(val) {
    --ns-button-text-color: var(--ns-color-$(val));
    /* --ns-button-bg-color: var(--ns-color-white); */
    --ns-button-bg-color: var(--ns-color-$(val)-light-9);
    /* --ns-button-border-color: var(--ns-color-$(val)); */
    /* --ns-button-hover-text-color: var(--ns-color-white); */
    --ns-button-hover-text-color: var(--ns-color-$(val));
    --ns-button-hover-bg-color: var(--ns-color-$(val)-light-8);
    /* --ns-button-hover-border-color: var(--ns-color-$(val)); */
    /* --ns-button-hover-border-color: transparent; */
    --ns-button-active-bg-color: var(--ns-color-$(val)-light-7);
    /* --ns-button-active-border-color: var(--ns-color-$(val)-dark-2); */
    --ns-button-active-text-color: var(--ns-color-$(val));
    
    --ns-button-disabled-text-color: var(--ns-color-$(val)-light-5);
    --ns-button-disabled-bg-color: var(--ns-color-white);
    --ns-button-disabled-border-color: var(--ns-color-$(val)-light-5);
  }
}
.ns-button--info {
  --ns-button-text-color: #323843;
  --ns-button-hover-text-color: #323843;
  --ns-button-disabled-text-color: #323843;
}
.ns-button--large {
  --ns-button-size: 40px;
  height: var(--ns-button-size);
  padding: 12px 19px;
  font-size: var(--ns-font-size-base);
  border-radius: var(--ns-border-radius-base);
  /*circle*/
  &.is-circle {
    border-radius: 50%;
    padding: 12px;
  }
}
.ns-button--small {
  --ns-button-size: 24px;
  height: var(--ns-button-size);
  padding: 5px 11px;
  font-size: 12px;
  border-radius: calc(var(--ns-border-radius-base) - 1px);
  /*circle*/
  &.is-circle {
    border-radius: 50%;
    padding: 5px;
  }
  [class*="ns-icon"] {
    width: 12px;
    height: 12px;
  }
}

.ns-button-group {
  display: inline-block;
  vertical-align: middle;

  &::after {
    clear: both;
  }
  & > :deep(.ns-button) {
    float: left;
    position: relative;
    margin-left: 0;
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right-color: var(--ns-button-group-border-color);
    }
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left-color: var(--ns-button-group-border-color);
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;

      border-left-color: var(--ns-button-group-border-color);
      border-right-color: var(--ns-button-group-border-color);
    }
    &:not(:last-child) {
      margin-right: -1px;
    }
    &:first-child:last-child {
      border-top-right-radius: var(--ns-border-radius-base);
      border-bottom-right-radius: var(--ns-border-radius-base);
      border-top-left-radius: var(--ns-border-radius-base);
      border-bottom-left-radius: var(--ns-border-radius-base);

      &.is-round {
        border-radius: var(--ns-border-radius-round);
      }

      &.is-circle {
        border-radius: 50%;
      }
    }
  }
}
