.ns-title,
.ns-text {
  color: var(--ns-text-color-primary);
  /* #1a1a1a */

  &--primary {
    color: var(--ns-color-primary);
  }

  &--info {
    /* color: var(--ns-color-info); */
    /* --ns-button-text-color: #323843; */
    /* color: #5d5e62; */
    color: var(--ns-text-color-regular);
  }

  &--success {
    color: var(--ns-color-success);
  }

  &--warning {
    color: var(--ns-color-warning);
  }

  &--danger {
    color: var(--ns-color-danger);
  }
}

/* Title */
.ns-title {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: 600;
}

h1.ns-title {
  font-size: var(--ns-font-size-extra-large);
}

h2.ns-title {
  font-size: var(--ns-font-size-large);
}

h3.ns-title {
  font-size: var(--ns-font-size-medium);
}

h4.ns-title {
  font-size: var(--ns-font-size-base);
}

h5.ns-title {
  font-size: var(--ns-font-size-small);
}

h6.ns-title {
  font-size: var(--ns-font-size-extra-small);
}

/* // Text */
.ns-text {
  font-size: var(--ns-font-size-base);

  &--secondary {
    color: var(--ns-text-color-regular);
  }

  &--third {
    color: var(--ns-text-color-secondary);
  }

  &--disabled {
    color: var(--ns-text-color-placeholder);
  }

  &--strong {
    font-weight: 700;
  }

  &--mark {
    background-color: rgba(255, 214, 28, 0.48);
  }

  &--underline {
    text-decoration: underline;
  }

  &--del {
    text-decoration: line-through;
  }
}

/* paragraph */
.ns-paragraph {
  position: relative;
  overflow: hidden;
  margin-bottom: 1em;
  transition: all var(--ns-transition-duration);

  .ns-icon {
    padding: 0.3em;
    border-radius: 3px;
    box-sizing: content-box;
    vertical-align: bottom;
    transition: background-color 0.2s;
    cursor: pointer;

    &:hover {
      background-color: var(--ns-fill-color-blank);
    }
  }

  .ns-paragraph__more {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: var(--ns-text-color-regular);
    background-color: var(--ns-fill-color-blank);
    user-select: none;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      left: -150%;
      display: inline-block;
      width: 150%;
      height: 100%;
      background-color: var(--ns-fill-color-blank);
      -webkit-mask-image: linear-gradient(90deg, transparent, #000 75%);
      mask-image: linear-gradient(90deg, transparent, #000 75%);
      pointer-events: none;
    }
  }
}