/* Checkbox 基础样式 */
.ns-checkbox {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  margin-right: 30px;
  height: 32px;
}

.ns-checkbox__input {
  position: absolute;
  opacity: 0;
  outline: none;
  z-index: -1;
  width: 0;
  height: 0;
  margin: 0;
}

.ns-checkbox__inner {
  display: inline-block;
  position: relative;
  border: 1px solid var(--ns-border-color);
  border-radius: 2px;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  background-color: var(--ns-bg-color);
  transition: border-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46),
    background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46);
}

.ns-checkbox__inner::after {
  box-sizing: content-box;
  content: "";
  position: absolute;
  top: 1px;
  left: 4px;
  width: 3px;
  height: 7px;
  border: 1px solid #fff;
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg) scaleY(0);
  transition: transform 0.15s ease-in 0.05s;
  transform-origin: center;
}

.ns-checkbox__label {
  padding-left: 8px;
  font-size: 14px;
  line-height: 1;
}

/* 选中状态 */
.ns-checkbox.is-checked .ns-checkbox__inner {
  background-color: var(--ns-color-primary-dark-2);
  border-color: var(--ns-color-primary-dark-2);
}

.ns-checkbox.is-checked .ns-checkbox__inner::after {
  transform: rotate(45deg) scaleY(1);
}

.ns-checkbox.is-checked .ns-checkbox__label {
  color: var(--ns-color-primary-dark-2);
}

/* 禁用状态 */
.ns-checkbox.is-disabled {
  cursor: not-allowed;
}

.ns-checkbox.is-disabled .ns-checkbox__inner {
  background-color: var(--ns-fill-color-light);
  border-color: var(--ns-border-color-light);
  cursor: not-allowed;
}

.ns-checkbox.is-disabled.is-checked .ns-checkbox__inner {
  background-color: var(--ns-text-color-disabled);
  border-color: var(--ns-text-color-disabled);
}

.ns-checkbox.is-disabled .ns-checkbox__label {
  color: var(--ns-text-color-disabled);
  cursor: not-allowed;
}

/* 中间状态 */
.ns-checkbox.is-indeterminate .ns-checkbox__inner::before {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--ns-bg-color);
  height: 2px;
  transform: scale(0.5);
  left: 0;
  right: 0;
  top: 5px;
}

.ns-checkbox.is-indeterminate .ns-checkbox__inner {
  background-color: var(--ns-color-primary-dark-2);
  border-color: var(--ns-color-primary-dark-2);
}

/* 带边框样式 */
.ns-checkbox.is-bordered {
  padding: 9px 20px 9px 10px;
  border-radius: 4px;
  border: 1px solid var(--ns-border-color);
  box-sizing: border-box;
  height: 40px;
}

.ns-checkbox.is-bordered.is-checked {
  border-color: var(--ns-color-primary-dark-2);
}

.ns-checkbox.is-bordered.is-disabled {
  border-color: var(--ns-color-primary-light-5);
  cursor: not-allowed;
}

/* 不同尺寸 */
.ns-checkbox--large {
  font-size: 16px;
  height: 40px;
}

.ns-checkbox--large .ns-checkbox__inner {
  width: 16px;
  height: 16px;
}

.ns-checkbox--large .ns-checkbox__label {
  font-size: 16px;
}

.ns-checkbox--large.is-bordered {
  padding: 12px 20px 12px 10px;
  border-radius: 4px;
  height: 48px;
}

.ns-checkbox--small {
  font-size: 12px;
  height: 24px;
}

.ns-checkbox--small .ns-checkbox__inner {
  width: 12px;
  height: 12px;
}

.ns-checkbox--small .ns-checkbox__inner::after {
  top: 0;
  left: 3px;
  width: 2px;
  height: 6px;
}

.ns-checkbox--small .ns-checkbox__label {
  font-size: 12px;
}

.ns-checkbox--small.is-bordered {
  padding: 5px 15px 5px 10px;
  border-radius: 3px;
  height: 32px;
}

/* CheckboxGroup 样式 */
.ns-checkbox-group {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

/* CheckboxButton 样式 */
.ns-checkbox-button {
  position: relative;
  display: inline-block;
  margin: 0;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  line-height: 1;
  vertical-align: middle;
}

.ns-checkbox-button__input {
  position: absolute;
  opacity: 0;
  outline: none;
  z-index: -1;
  width: 0;
  height: 0;
  margin: 0;
}

.ns-checkbox-button__inner {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  vertical-align: middle;
  background: #fff;
  border: 1px solid var(--ns-border-color);
  font-weight: 500;
  border-left: 0;
  color: var(--ns-text-color-regular);
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  position: relative;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 0;
}

.ns-checkbox-button:first-child .ns-checkbox-button__inner {
  border-left: 1px solid var(--ns-border-color);
  border-radius: 4px 0 0 4px;
  box-shadow: none !important;
}

.ns-checkbox-button:last-child .ns-checkbox-button__inner {
  border-radius: 0 4px 4px 0;
}

.ns-checkbox-button.is-checked .ns-checkbox-button__inner {
  color: var(--ns-color-white);
  background-color: var(--ns-color-primary-dark-2);
  border-color: var(--ns-color-primary-dark-2);
  box-shadow: -1px 0 0 0 var(--ns-color-primary-dark-2);
}

.ns-checkbox-button.is-disabled {
  cursor: not-allowed;
}

.ns-checkbox-button.is-disabled .ns-checkbox-button__inner {
  color: var(--ns-text-color-disabled);
  cursor: not-allowed;
  background-image: none;
  background-color: var(--ns-fill-color-light);
  border-color: #ebeef5;
  box-shadow: none;
}

.ns-checkbox-button.is-disabled:first-child .ns-checkbox-button__inner {
  border-left-color: #ebeef5;
}

/* 不同尺寸的按钮 */
.ns-checkbox-button--large .ns-checkbox-button__inner {
  padding: 14px 22px;
  font-size: 16px;
  border-radius: 0;
}

.ns-checkbox-button--large:first-child .ns-checkbox-button__inner {
  border-radius: 4px 0 0 4px;
}

.ns-checkbox-button--large:last-child .ns-checkbox-button__inner {
  border-radius: 0 4px 4px 0;
}

.ns-checkbox-button--small .ns-checkbox-button__inner {
  padding: 9px 15px;
  font-size: 12px;
  border-radius: 0;
}

.ns-checkbox-button--small:first-child .ns-checkbox-button__inner {
  border-radius: 3px 0 0 3px;
}

.ns-checkbox-button--small:last-child .ns-checkbox-button__inner {
  border-radius: 0 3px 3px 0;
}
